* {
    box-sizing: border-box !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
}

/* Navigation Bar */

.nav-wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color:  #f73d93;
    padding: 0 5%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    color: #ffffff;
}
.nav-links {
    display: flex;
}
.nav-links a {
    padding: 20px;
    text-decoration: none;
    margin: 0;
    color: #ffffff;
    transition-duration: 0.2s;
}
.nav-links button {
    margin: 15px 0 13px 10px;
    padding: 0 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
}
.nav-links .bar-icon {
    display: none;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 5px;
    
}
.nav-links a:hover {
    background-color:  #ff99cc;
}
.nav-links a:active {
    background-color: #cc0066;
}
.nav-links button:hover {
    background-color:  #16003b;
    color: #ffffff;
}
.nav-links button:active {
    background-color:  #250066;
}

/* First Main */

.first-section {
    width: 100%;
    margin-top: 60px;
    padding: 80px 0;
    background-color: rgba(196, 196, 196, 0.35);
}
.wrapper-first-section {
    max-width: 88%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}
.img1-wrapper {
    flex: 0 0 40%;
}
.img1-wrapper img {
    width: 100%;
    height: 100%;
}
.text1-wrapper {
    flex: 0 0 60%;
}
.text1-wrapper h1 {
    margin: 0 0 10px;
    color: #16003b;
}
.text1-wrapper .first-text {
    font-weight: 400;
    font-size: 3.5rem;
}
.text1-wrapper .second-text {
    font-weight: 900;
    font-size: 3.5rem;
}
.text1-wrapper p {
    color: #16003b;
    font-size: 1.5rem;
}
.text1-wrapper button {
    background-color: #16003b;
    color: #ffffff;
    text-align: center;
    padding: 12px 30px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.text1-wrapper button:hover {
    background-color: #250066;
}
.text1-wrapper button:active {
    background-color: #16003b;
}

/* First Aside */

.first-aside {
    display: flex;
    flex-wrap: wrap;
    background-color: #f73d93;
    width: 100%;
    padding: 0px 10px 10px;
    color: #ffffff;
    border-radius: 10px;
}
.first-aside-item1-wrapper {
    flex: 0 0 40%;
    padding-left: 15px;
}
.first-aside-item1 {
    margin-top: 10%;
}
.first-aside h2 {
    font-size: 2.3rem;
    font-weight: 900;
    margin: 0;
}
.first-aside p {
    margin: 8px 0;
}
.first-aside-item2 {
    flex: 0 0 25%;
    height: 330px;
}
.first-aside-item2 img {
    width: 100%;
    height: 100%;
}
.first-aside-item3-wrapper {
    flex: 0 0 30%;
    margin-left: 5%;
    position: relative;
}
.first-aside-item3 {
    margin: 15% 0 0 10%;
}
.first-aside-item3-wrapper button {
    background-color: #ffffff;
    color: #ff0000;
    margin-top: 15px;
    text-align: center;
    padding: 12px 30px;
    border: none;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.first-aside-item3 img {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.first-aside-item3-wrapper button:hover {
   background-color: #16003b;
   color: #ffffff;
}
.first-aside-item3-wrapper button:active {
    background-color: #250066;
}
.first-aside-item3 img:hover {
    opacity: 0.7;
}
.first-aside-item3 img:active {
    opacity: 1;
}

/* Second Section */
.second-section {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 20px 0 40px; 
}
.second-section h2 {
    margin: 0;
    font-size: 2rem;
}
.second-section h3 {
    margin: 12px 0;
    font-size: 1.7rem;
    font-weight: 400;
}
/* New Product */
.new-products-wrapper {
    width: 80%;
    margin: 90px auto 20px;
}
.new-products-wrapper h3 {
    text-align: left;
}
.new-products {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.new-product {
    flex: 0 0 30%;
    background-color: rgba(255, 182, 193, 0.35);
    padding: 20px 10px;
    text-align: left;
    cursor: pointer;
    transition-duration: 0.2s;
}
.new-product div {
    width: 90%;
    margin: auto;
}
.new-product-image img {
    width: 100%;
}
.new-product p {
    font-weight: 500;
    margin: 0;
}
.new-product .star-emoji {
    color: #eeee00;
    font-size: 1.2rem;
}
.new-product span {
    font-weight: 700;
}
.new-product .fa-heart {
    float: right;
    font-size: 1.2rem;
    color: #ff0000;
}
.new-product .fa-regular {
    color: black;
}
.new-product:hover {
    box-shadow: 0 20px 10px 0 rgba(0,0,0,0.2);
}
.new-product:active {
    opacity: 0.6;
}

/* Category */
.categories-wrapper {
    width: 80%;
    margin: 90px auto 20px;
}
.categories-wrapper h3 {
    text-align: left;
}
.categories {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category {
    flex: 0 0 30%;
    background-color: rgba(255, 182, 193, 0.35);
    padding: 20px 10px 10px;
    text-align: left;
    cursor: pointer;
    transition-duration: 0.2s;
}
.category div {
    width: 90%;
    margin: auto;
}
.category-image img {
    width: 100%;
    height: 246.8px;    /* selected the least height among the images, this is to make all images equal in height */
}
.category p {
    font-weight: 500;
}
.category:hover {
    box-shadow: 0 20px 10px 0 rgba(0,0,0,0.2);
}
.category:active {
    opacity: 0.6;
}
.second-section button {
    background-color: #ff0000;
    color: #ffffff;
    margin-top: 15px;
    text-align: center;
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.second-section button:hover {
    background-color: #16003b;
}
.second-section button:active {
    background-color: #250066;
}

/* Second Aside */
.second-aside {
    display: flex;
    flex-wrap: wrap;
    background-color: #f73d93;
    width: 100%;
    padding: 0px 10px 10px;
    color: #ffffff;
    border-radius: 10px;
}
.second-aside-item1-wrapper {
    flex: 0 0 25%;
    padding-left: 15px;
}
.second-aside-item1 {
    margin-top: 10%;
}
.second-aside h2 {
    font-size: 2.3rem;
    font-weight: 900;
    margin: 0;
}
.second-aside p {
    margin: 8px 0;
}
.second-aside-item2 {
    flex: 0 0 25%;
    height: 300px;
    position: relative;
}
.second-aside-item2 img {
    width: 500px;
    height: 550px;
    position: absolute;
    top: -40%;
}
.second-aside-item3-wrapper {
    flex: 0 0 30%;
    margin-left: 20%;
    position: relative;
}
.second-aside-item3 {
    margin: 15% 0 0 10%;
}
.second-aside-item3-wrapper button {
    background-color: #ffffff;
    color: #0cdf0c;
    margin-top: 15px;
    text-align: center;
    padding: 12px 30px;
    border: none;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.second-aside-item3 img {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.second-aside-item3-wrapper button:hover {
   background-color: #16003b;
   color: #ffffff;
}
.second-aside-item3-wrapper button:active {
    background-color: #250066;
}
.second-aside-item3 img:hover {
    opacity: 0.7;
}
.second-aside-item3 img:active {
    opacity: 1;
}

/* Third Section */
.third-section {
    width: 100%;
    background-color: rgba(196, 196, 196, 0.35);
    text-align: center;
    padding: 40px;
}
.third-section h2 {
    margin: 0;
    font-size: 2rem;
}
.third-section-image-wrapper {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.third-section-image-wrapper div {
    flex: 0 0 48%;
    height: 345px;
    margin-bottom: 20px;
    transition-duration: 0.2s;
}
.third-section-image-wrapper div img {
    width: 100%;
    height: 100%;
}
.third-section-image-wrapper div:hover {
    opacity: 0.6;
    box-shadow: 0 20px 10px 0 rgba(0,0,0,0.2);
}
.third-section-image-wrapper div:active {
    opacity: 1;
}

/* Third Aside */
.third-aside {
    background-color: #16003b;
    text-align: center;
    color: #ffffff;
    width: 100%;
    padding: 30px 0 80px;
}
.third-aside h2 {
    margin: 0 0 10px;
    font-size: 2rem;
    font-weight: 400;
}
.third-aside-item-wrapper {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.third-aside-item {
    flex: 0 0 30%;
    padding: 30px 20px 10px;
    background-color: #ffffff;
    color: #000000;
    transition-duration: 0.2s;
}
.third-aside-item div {
    width: 90%;
    margin: 0 5%;
}
.third-aside-item-image img {
    width: 100px;
    height: 100px;
}
.third-aside-item-text .star-emoji {
    color: #eeee00;
    font-size: 1.2rem;
}
.third-aside-item:hover {
    box-shadow: 0 10px 20px 0 rgba(255,255,255,0.35);
}

/* Fourth Section */
.fourth-section {
    width: 100%;
    text-align: center;
    padding: 40px 0;
}
.fourth-section h2 {
    margin: 0 0 10px;
    font-size: 2rem;
    font-weight: 700;
}
.fourth-section p {
    margin: 0;
}
.fourth-section-item-wrapper {
    width: 80%;
    margin: 50px 10% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fourth-section-item {
    flex: 0 0 30%;
    margin-bottom: 50px;
    background-color: rgba(255, 182, 193, 0.35);
    text-align: center;
    transition-duration: 0.2s;
    cursor: pointer;
}
.fourth-section-item:last-child {
    margin-right: 35%;      /* This is to fix the problem withthe last child */
}
.fourth-section-item div {
    width: 80%;
    margin: 20px 10% 30px;
}
.fourth-section-item-head {
    display: flex;
}
.fourth-section-item-head img {
    flex: 0 0 10%;
    height: 30px;
}
.fourth-section-item-head h3 {
    flex: 0 0 90%;
    margin: 0;
}
.fourth-section-item:hover {
    box-shadow: 0 20px 10px 0 rgba(0,0,0,0.2);
}
.fourth-section-item:active {
    opacity: 0.6;
}




@media screen and (max-width: 992px) {
    /* navigation bar */
    .nav-links a, .nav-links button {
        display: none;
    }
    .nav-links .bar-icon {
        display: inline-block;
    }

    /* First Section */
    .wrapper-first-section {
        max-width: 90%;
        margin: 0 5%;
    }
    .text1-wrapper {
        flex: 0 0 100%;
    }
    .img1-wrapper {
        flex: 0 0 100%;
        margin-top: 30px;
    }

    /* First Aside */
    .first-aside {
        flex-direction: column;
        padding: 0 5%;
    }
    .first-aside-item3-wrapper {
        margin-left: 0;
        margin-bottom: 20px;
        padding-left: 15px;
    }
    .first-aside-item3 {
        margin: 0;
    }
    .first-aside-item3 img {
        bottom: 0;
    }

    /* Second Section */

    /* New Product */
    .new-products-wrapper {
        width: 60%;
    }
    .new-products {
        flex-direction: column;
    }
    .new-product {
        margin-bottom: 40px;
    }
    .new-product:last-child {
        margin-bottom: 0;
    }
    .special-wrapper {
        height: 400px;   /* This fix the first image in new product */
    }
    .special-wrapper img {
        height: 100%;
    }
    /* Category */
    .categories-wrapper {
        width: 60%;
    }
    .categories {
        flex-direction: column;
    }
    .category {
        margin-bottom: 40px;
    }
    .category:last-child {
        margin-bottom: 0;
    }

    /* Second Aside */
    .second-aside {
        flex-direction: column;
        padding: 0 5%;
    }
    .second-aside-item2 img {
        width: 100%;
        height: 500px;
    }
    .second-aside-item3-wrapper {
        margin: 450px 0 20px;
        padding-left: 15px;
    }
    .second-aside-item3 {
        margin: 0;
    }
    .second-aside-item3 img {
        bottom: 0;
    }

    /* Third Section */
    .third-section-image-wrapper {
        width: 80%;
        flex-direction: column;
    }

    /* Third Aside */
    .third-aside-item-wrapper {
        flex-direction: column;
        width: 70%;
    }
    .third-aside-item:not(.third-aside-item:last-child) {
        margin-bottom: 30px;
    }

    /* Fourth Srction */
    .fourth-section-item-wrapper {
        flex-direction: column;
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
    }
    .fourth-section-item:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width:768px) {
    .special-wrapper {
        height: auto;   /* This fix the first image in new product */
    }
}

