* {
    box-sizing: border-box !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
}

/* Navigation Bar */

.nav-wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color:  #f73d93;
    padding: 0 5%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    color: #ffffff;
}
.nav-links {
    display: flex;
}
.nav-links a {
    padding: 20px;
    text-decoration: none;
    margin: 0;
    color: #ffffff;
    transition-duration: 0.2s;
}
.nav-links button {
    margin: 15px 0 13px 10px;
    padding: 0 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}
.nav-links .bar-icon {
    display: none;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 5px;
    
}
.nav-links a:hover {
    background-color:  #ff99cc;
}
.nav-links a:active {
    background-color: #cc0066;
}
.nav-links button:hover {
    background-color:  #16003b;
    color: #ffffff;
}
.nav-links button:active {
    background-color:  #250066;
}

/* First Main */

.first-section {
    width: 100%;
    margin-top: 60px;
    padding: 80px 0;
    background-color: rgba(196, 196, 196, 0.35);
}
.wrapper-first-section {
    max-width: 88%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}
.img1-wrapper {
    flex: 0 0 40%;
}
.img1-wrapper img {
    width: 100%;
    height: 100%;
}
.text1-wrapper {
    flex: 0 0 60%;
}
.text1-wrapper h1 {
    margin: 0 0 10px;
    color: #16003b;
}
.text1-wrapper .first-text {
    font-weight: 400;
    font-size: 3.5rem;
}
.text1-wrapper .second-text {
    font-weight: 900;
    font-size: 3.5rem;
}
.text1-wrapper p {
    color: #16003b;
    font-size: 1.5rem;
}
.text1-wrapper button {
    background-color: #16003b;
    color: #ffffff;
    text-align: center;
    padding: 12px 30px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.text1-wrapper button:hover {
    background-color: #250066;
}
.text1-wrapper button:active {
    background-color: #16003b;
}

/* First Aside */

.first-aside {
    display: flex;
    flex-wrap: wrap;
    background-color: #f73d93;
    width: 100%;
    padding: 0px 10px 10px;
    color: #ffffff;
    border-radius: 10px;
}
.first-aside-item1-wrapper {
    flex: 0 0 40%;
    padding-left: 15px;
}
.first-aside-item1 {
    margin-top: 10%;
}
.first-aside h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
}
.first-aside p {
    margin: 8px 0;
}
.first-aside-item2 {
    flex: 0 0 25%;
    height: 330px;
}
.first-aside-item2 img {
    width: 100%;
    height: 100%;
}
.first-aside-item3-wrapper {
    flex: 0 0 30%;
    margin-left: 5%;
    position: relative;
}
.first-aside-item3 {
    margin: 15% 0 0 10%;
}
.first-aside-item3-wrapper button {
    background-color: #ffffff;
    color: #ff0000;
    margin-top: 15px;
    text-align: center;
    padding: 12px 30px;
    border: none;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
}
.first-aside-item3 img {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}
.first-aside-item3-wrapper button:hover {
   background-color: #16003b;
   color: #ffffff;
}
.first-aside-item3-wrapper button:active {
    background-color: #250066;
}
.first-aside-item3 img:hover {
    opacity: 0.7;
}
.first-aside-item3 img:active {
    opacity: 1;
}

/* Second Section */
.second-section {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 20px 0 40px; 
}
.second-section h2 {
    margin: 0;
    font-size: 2rem;
}
.second-section h3 {
    margin: 12px 0;
    font-size: 1.7rem;
    font-weight: 400;
}
.new-products-wrapper {
    width: 80%;
    margin: 90px auto 20px;
}
.new-products-wrapper h3 {
    text-align: left;
}
.new-products {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.new-product {
    flex: 0 0 30%;
    background-color: rgba(255, 182, 193, 0.35);
    padding: 10px;
    text-align: left;
}
.new-product div {
    width: 90%;
    margin: auto;
}
.new-product-image img {
    width: 100%;
}
.new-product p {
    font-weight: 500;
    margin: 0;
}
.new-product .star-emoji {
    color: #eeee00;
    font-size: 1.2rem;
}
.new-product span {
    font-weight: 700;
}
.new-product .fa-heart {
    float: right;
    font-size: 1.2rem;
    color: #ff0000;
}
.new-product .fa-regular {
    color: black;
}




@media screen and (max-width: 992px) {
    /* navigation bar */
    .nav-links a, .nav-links button {
        display: none;
    }
    .nav-links .bar-icon {
        display: inline-block;
    }

    /* First Section */
    .wrapper-first-section {
        max-width: 90%;
        margin: 0 5%;
    }
    .text1-wrapper {
        flex: 0 0 100%;
    }
    .img1-wrapper {
        flex: 0 0 100%;
        margin-top: 30px;
    }

    /* First Aside */
    .first-aside {
        flex-direction: column;
    }
    .first-aside-item3-wrapper {
        margin-left: 0;
        margin-bottom: 20px;
        padding-left: 15px;
    }
    .first-aside-item3 {
        margin: 0;
    }
    .first-aside-item3 img {
        bottom: 0;
    }
}

